# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  常用来将 Python 脚本打包为独立的可执行文件
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
#   用于管理多个 Python 版本的工具
.python-version

# pipenv
#   用于管理项目依赖和虚拟环境的工具
#   根据推荐，Pipfile.lock 应该提交到版本库中
#   https://pipenv.pypa.io/en/latest/advanced/#pipfile-vs-setup-py
# Pipfile.lock

# poetry
#   用于管理项目依赖和虚拟环境的工具
#   poetry.lock 应该提交到版本库中
# poetry.lock

# pdm
#   用于管理项目依赖和虚拟环境的工具
#   pdm.lock 应该提交到版本库中
.pdm-python
.pdm-build/

# PEP 582; used by e.g. github.com/pdm-project/pdm
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# Cython debug symbols
cython_debug/

# PyCharm
.idea/

# VS Code
.vscode/

# Project specific data
data/sample_images/temp_upload_img.*
data/sample_images/temp_upload_key.pdf
data/processed_images/

# Large Model weights
my_trocr_model/
my_trocr_model_ft/
*.zip
*.safetensors
*.bin
